@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');
/* Estilos globales de mi portfolio. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'sans-serif';
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #231f33;
    color:#fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7p;
}

.brand span {
    color:#cb660a;
}


.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.menu a:hover{
    background-color: #cb660a;
    color: #0b0914;
    transition: ease-in .4s;
}

.menu .active {
    color: #cb660a;

}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.main img {
    width: 380px;
}

.info-content h1{
    font-size: 3em;
    
}


