@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');
/* Estilos globales de mi portfolio. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'sans-serif';
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #231f33;
    color:#fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7p;
}

.brand span {
    color:#cb660a;
    font-size: 2rem;
}

.brand h2 {
    font-size: 2em;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.menu a:hover{
    background-color: #cb660a;
    color: #0b0914;
    transition: ease-in .4s;
}

.menu .active {
    color: #cb660a;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.main img {
    width: 380px;
    border: 7px solid #cb660a;
    height: 500px;
    margin-left: 10rem;
}

.info-content h1{
    font-size: 4em;
}
.info-content span{
    color: #cb660a;
}

.download-cv{
    padding: 10px 10px;
    background-color: #cb660a;
    border:none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 5px 11px -5px #ffffff;
}

.download-cv:hover{
    background-color: #ffffff;
    box-shadow: none;
    border: solid 1px #0b0914;
}

.about {
  display: grid;
  grid-template-columns:repeat(10,1fr);
  width: 100vw;
  align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.divider{
    background-color: #cb660a;
    width: 60px;
    height: 5px;
    margin-bottom: 2em;
    margin-top: 5px;
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}


.about-info h2 {
     font-size: 2em;
    }

 .portfolio{
    width: 100vw;
    background-color: #231f33;
    color:#fff;
 }   

 .portfolio-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding:3em;
 }
 .portfolio-heading h2 {
    font-size: 3rem;
 }

.container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 350px;
    background-color: #423a60;
    margin-left: 20px;
    margin-right: 20px;    
}

.card h3{
    font-size: 25px;
    margin-top: 10px;
}



.imgProyect{
    width: 100%;
    height: 150px;
}

.simbolos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 1.5em;
}

.simbolos i{
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;

}

.contact-section{
    width: 100vw;
    background-color: #231f33;
    color:#fff;
}

.contact-heading {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding:3em;
}

.container-contact {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.container-contact img {
    width: 750px;
    height: 700px;
    object-fit: contain;
    opacity: 0.1;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}


/* CSS boton style btn-submit */
.form-group .btn-submit {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-group .btn-submit:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.form-group .btn-submit:active {
  transform: scale(0.95);
}

.footer {
    background-color: #f3891e;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 200px;
    padding: 2em;
}

.footer h2 {
    font-size: 3em;
}

.footer h5 {
    font-size: 1.5em;
    text-align: center;
}



.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks i {
    font-size: 1.5em;
    color:initial;
}