@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');
/* Estilos globales de mi portfolio. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'sans-serif';
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #231f33;
    color:#fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7p;
}

.brand span {
    color:#cb660a;
    font-size: 2rem;
}

.brand h2 {
    font-size: 2em;
}



.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.menu a:hover{
    background-color: #cb660a;
    color: #0b0914;
    transition: ease-in .4s;
}

.menu .active {
    color: #cb660a;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.main img {
    width: 380px;
    border: 7px solid #cb660a;
    height: 500px;
    margin-left: 10rem;
}

.info-content h1{
    font-size: 4em;
}
.info-content span{
    color: #cb660a;
}

.download-cv{
    padding: 10px 10px;
    background-color: #cb660a;
    border:none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 5px 11px -5px #ffffff;
}
.download-cv:hover{
    background-color: #ffffff;
    box-shadow: none;
}

.about {
  display: grid;
  grid-template-columns:repeat(10,1fr);
  width: 100vw;
  align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}


.divider{
    background-color: #cb660a;
    width: 60px;
    height: 5px;
    margin-bottom: 2em;
    margin-top: 5px;
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}


.about-info h2 {
     font-size: 2em;
    }

 .portfolio{
    width: 100vw;
    background-color: #231f33;
    color:#fff;
 }   

 .portfolio-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding:3em;
 }
 .portfolio-heading h2 {
    font-size: 3rem;
 }

.container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 350px;
    background-color: #423a60;
    margin-left: 20px;
    margin-right: 20px;    
}

.card h3{
    font-size: 25px;
    margin-top: 10px;
}



.imgProyect{
    width: 100%;
    height: 150px;
}

.simbolos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 1.5em;
}

.simbolos i{
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;

}

.contact-section{
    width: 100vw;
    background-color: #231f33;
    color:#fff;
    padding: 3em;
}

.contact-heading {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding:3em;
}



